/**
 * @name DiscordCSS
 * @author wont-stream
 * @description https://github.com/wont-stream/discord-css
 * @version 0.1.5
 */

@import url("https://aushevahmad.github.io/awesome-css/modules/channeltweaks.css");
@import url("https://cdn.jsdelivr.net/gh/AushevAhmad/awesome-css@main/modules/adblockplus.css");
@import url("https://cdn.jsdelivr.net/gh/AushevAhmad/awesome-css@main/modules/declutter.css");

@import url('https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css');

:root {
  --accent-hue: 355;
  --accent-saturation: 86%;
  --accent-lightness: 45%;
  --accent-text-color: #DEDEDE;
  --message-padding-top: 8px;
  --message-padding-side: 12px;
  --sidebar-panel-radius-big: 0px;
  --sidebar-panel-radius-small: 0px;
  --message-radius: 0px;
  --media-radius: 0px;
  --card-radius: 0px;
  --card-radius-big: 0px;
  --button-radius: 0px;
  --input-radius: 0px;
  --popout-radius: 0px;
  --popout-radius-big: 0px;
  --avatar-radius: 0px;
  --channel-radius: 0px;
  --tooltip-radius: 0px;
}

* {
  border-radius: 0% !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  mask: none !important;
}
